<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<!-- favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/site_data/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/site_data/favicon-16x16.png">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  integrity="sha512-TpK5jYYH5cyH6X3hrH8xA6LB0gm1/7xOj+CrjQUHYvcnK/E5axWCT19EoV1V+e8F2D0yo8KXrLXtLq8iO4x0Vg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<meta name="theme-color" content="#ffffff">
